<%- include('../partials/header'); %>

<link rel="stylesheet" href="/css/omdb.css">
<script src="/js/omdb.js"></script>

    <section class="principal">

      <article class="black-section" id="div-login">
        <h2>Buscar en la Web</h2>
         
        <form class="forms form-busqueda" action="" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" id="busqueda" placeholder="que deseas buscar?" >
                <div class="invalid-feedback"></div>
            </div>
                       
            <div class="separate-buttons">
                <button type="submit" class="btn btn-success btn-block">Buscar</button>
            </div>
        </form>
            
      </article>

      <article class="black-section" id="resultados">
        <h2 id="titulo-resultados">Usa el filtro para buscar lo que desees</h2>

        <div id="lista-resultados"></div>

      </article>


    </section>


  </div>

<%- include('../partials/footer'); %>