#photo-preload {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: #FFF;
    display: none;
}

#photo-preload img{
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}