<%- include('partials/header'); %>

  <link rel="stylesheet" href="/css/main.css">

  <article class="banner">

    <div class="slide-caption">
        <h2>Los Increíbles 2</h2> <p class="sc-desc">La familia de superhéroes formada por Míster Increíble y Elastigirl junto a sus tres hijos Violet, Dash y Jack-Jack, protagonizan esta secuela de la película de Pixar <i>Los increíbles</i> (2004). <br><br>Inmediatamente después de lo sucedido en el primer filme, esta familia de superhéroes co...</p>
        <div class="slide-caption-info">
        <div class="block"><strong>Genero:</strong> <a href="#" title="Peliculas de Acción">Acción</a>, <a href="#" title="Peliculas de Aventuras">Aventuras</a>, <a href="#" title="Peliculas de Animación">Animación</a>.</div>
        <div class="block"> <strong>Calidad:</strong> Full DH </div>
        </div>
        <a href="#" title="Los Increíbles 2 Online"> <div class="btn btn-default mt20 verpelis-animate-zoom">Ver Película</div> </a>
    </div>

  </article>

    <section class="principal">

      <article class="black-section" id="peliculas">

        <h2>Mayor Rating</h2>
        <div class="peliculas">

          <% for(peli of listado) { %>

            <%- include('movies/item-movie', { movie : peli }) %>
          
          <% } %>

        </div>

      </article>


      <article class="" id="series">

        <h2>Mas nuevas</h2>

        <div class="peliculas">

          <% listado.forEach(peli => { %>

          <% }); %>

        </div>

      </article>


    </section>


  </div>


<%- include('partials/footer'); %>