<%- include('../partials/header'); %>

    <section class="principal">

      <article class="" id="peliculas">
        <h2>Nueva Pelicula</h2>
         

            

      </article>


    </section>


  </div>

<%- include('../partials/footer'); %>