<%- include('../partials/header'); %>

    <section class="principal">

      <article class="black-section" id="">
        <h2>Nueva Pelicula</h2>
         
        <form method="POST" action="/movies" enctype="multipart/form-data">
            <div class="form-group ">
              <label class="" for="title">Title</label>
              <input type="text" class="form-control" id="title" placeholder="Title" name="title">
            </div>
            <div class="form-group ">
              <label class="" for="rating">Rating</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-star star-rating"></i></div>
                </div>
                <input type="text" class="form-control" id="rating" placeholder="Rating" name="rating">
              </div>
            </div>
            <div class="">
              <label class="" for="poster">Poster</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="poster" name="poster">
                <label class="custom-file-label" for="poster">Selecciona una imagen</label>
                <div class="invalid-feedback">Aqui el error</div>
              </div>
            </div>
            
            <div class="separate-buttons">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
            

      </article>


    </section>


  </div>

<%- include('../partials/footer'); %>