<%- include('../partials/header'); %>

    <section class="principal">

      <article class="" id="peliculas">
        <h2><%= pelicula.title %></h2>
         
        <div class="pelicula">
            <img src="<%= pelicula.poster %>" alt="" class="peli-img">
            <img src="/img/premiere.png" alt="" class="banderin">
        </div>
            

      </article>


    </section>


  </div>

<%- include('../partials/footer'); %>