<%- include('../partials/header'); %>
  <link rel="stylesheet" href="/css/movies/detail.css">
  <section class="principal">

    <article class="black-section movie-detail">

      <div class="img-movie">
        <img src="<%= pelicula.poster %>" alt="" class="peli-img">
      </div>


      <div class="text-movie">
        <h2><%= pelicula.title %></h2>

        <div class="mini-details ">
          <div class="rating mini-detail-item">
            <i class="fas fa-star star-rating"></i>
            <span class="text-rating">9.0</span>
          </div>

          <div class="mini-detail-item">
            <span><i class="fas fa-hourglass-half"></i></span>
            <span id="duracion">3 h 1 min</span>
          </div>

          <div class="mini-detail-item">
            <span></span><i class="fas fa-calendar-day"></i></span>
            <span id="fecha-lanzamiento">2000</span>
          </div>

        </div>
        

        <div>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non illo id distinctio quae rem eaque sit. Cumque, tenetur ea laborum, facere ad optio similique sunt quae blanditiis quas maxime non?
        </div>

        <div>
          <div class="bd-callout bd-callout-detail">Genero</div class="bd-callout bd-callout-primary">
          <div class="bd-callout bd-callout-detail">Actores</div class="bd-callout bd-callout-primary">
        </div>

      </div>
        
      
          

    </article>


  </section>



<%- include('../partials/footer'); %>