<%- include('../partials/header'); %>

<link rel="stylesheet" href="/css/movies/index.css">

    <section class="principal">

      <article class="black-section" id="peliculas">

        <div class="titulos">
          <h2>Listado de Peliculas</h2>
          <span>Ordenar:
            <a href="?order=title">Titulo</a>
            <a href="?order=rating">Rating</a>
          </span>
          <div>
            <a href="/movies/create" class="btn btn-primary"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        
        <div class="peliculas">

          <% for(let movie of movies) { %>

            <%- include('item-movie', { movie }) %>
          
          <% } %>

        </div>

      </article>

  </div>

  <script src="/js/movies-list.js"></script>

<%- include('../partials/footer'); %>