<%- include('../partials/header'); %>

<link rel="stylesheet" href="/css/movies/index.css">

    <section class="principal">

      <article class="black-section" id="peliculas">

        <div class="titulos">
          <h2>Listado de Peliculas</h2>
          <div>
            <a href="/movies/create" class="btn btn-primary">Nueva</a>
          </div>
        </div>
        
        <div class="peliculas">

          <% for(movie of movies) { %>

            <%- include('item-movie', { movie }) %>
          
          <% } %>

        </div>

      </article>

  </div>


<%- include('../partials/footer'); %>